# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Data folders (can be large)
data/raw/
data/interim/
data/processed/
!data/raw/example.csv
!data/interim/.gitkeep
!data/processed/.gitkeep

# Logs
logs/

# Python packaging
*.egg-info/
